
  <div class='add-job-container'>
    <h2>
      Jobs
    </h2>
    <form class='new-job-form'>
      <label for='job_category'>
        Job Category:
      </label>
      <br />
      <textarea id='job_category' name='job_category' rows='2' cols='30'>
        {{job_category}}
      </textarea>
      <br />
      <label for='experience_level'>
        Experience Level
      </label>
      <br />
      <textarea id='experience-level' name='experience-level' rows='5' cols='30'>
        {{experience_level}}
      </textarea>
      <br />
      <label for='job_title'> <!-- Does it need to move up? -->
        Job <Title></Title><Title></Title> <!-- Why repeating -->
      </label>
      <br />
      <textarea id='job_title' name='job_title' rows='2' cols='30'>
        {{job_title}}
      </textarea>
      <br />
      <br />
      <input type='checkbox' id='has_salary_range' name='has_salary_range' value='true' />
      <label for='has_salary_range'>
        Check box if this job has salary range
      </label>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new dish -->
<script src='/js/add-dish.js'></script>
