<div class="job-card">
  <div class="job-card-header">
    {{industry}}
  </div>
  <div class="card-body">
    <p>
      Experience
      {{experience}}
    </p>
    <p>
      Job Title
      {{title}}
    </p>
    {{#if has_salary_range}}
      <p class="has-salary-range">
        Salary Range provided
      </p>
    {{/if}}
  </div>
</div>